body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

h1{
    font-weight: bold;
    color:brown;
}

img{
    width: 300px;
    height: auto;
}

.recipe_title li{
    display: inline;
    margin: 120px;
}

.images img{
    display: inline;
    padding: 40px;
    margin-top: -20px;
}

.center{
    list-style-position: inside;
    text-align: center;
    color: blue;
}

